.address-infos {
  margin-bottom: 40px;
  margin-top: -20px;
  text-align: left;
  color: #333;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}